  #import_button input[type=file] {
    display: none;
    margin: 10px;
  }

    #import_button input[type=file] + label {
      display: inline-block;
      margin: 20px;
      padding: 4px 32px;
      background-color: #FFFFFF;
      border: solid 1px #666F77;
      border-radius: 6px;
      color: #666F77;
    }

    #import_button input[type=file]:active + label {
      background-image: none;
      background-color: #2D6C7A;
      color: #FFFFFF;
    }
